* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* menu-hamburguesa-X*/

input{
  display: none;
}

label {
  position: fixed;
  top: 10px;
  right: 16px;
  height: 20px;
  width: 20px;
  z-index: 5;
}

input + label span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: #020304;
  transition: 0.5s;
}
input + label span:first-child {
  top: 3px;
}
body input + label span:last-child {
  top: 16px;
}

label:hover {
  cursor: pointer;
}

input:checked + label span {
  opacity: 0;
  top: 50%;
}
input:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg);
}
input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg) translate(4.5px, -4.5px);
  
}

/* header */

header {

  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "IBM Plex Mono", monospace;

  .nav {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;

    .menubar {
      display: none;
    }

/* hamburguesa */

input:checked ~ .menubar{
  position: absolute;
  left: 0;
  top:100%;
  display: block;
  background:#0000EC;
  width: 100vw;
  height: 40vh;
  list-style: none;
  display: block;
  
  li {
    padding-top: 16px;
    margin-left: 16px;
    margin-bottom: 24px;
  }
  a{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

}
    i {
      width: 18px;
      height: 12px;
    }
  }
  .header__content {
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
   

    .content--title {
      margin-top: 29px;
      width: 100%;
      color: #060a24;
      
    }

    h1 {
      line-height: 42px;
      font-size: 36px;
      letter-spacing: 0;
      font-family: "IBM Plex Sans", sans-serif;
      
    }

    p {
      margin-top: 16px;
      font-family: "IBM Plex Mono", monospace;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 22px;
    
    }
    p::after{
      content: "Un podcasts que explora el mundo de la programación.Nuevos episodios, todos los jueves cada 15 días.";
    }


    button.header__callaction {
      width: 100%;
      height: 48px;
      margin-top: 36px;
      margin-bottom: 24px;
      background-color: #00f3bb;
      text-align: center;
      box-shadow: none;
      border: none;
      cursor: pointer;

      a {
        color: #060a24;
        text-decoration: none;
        font-family: "IBM Plex Mono-Medium", monospace;
        letter-spacing: 0;
        font-size: 16px;
        line-height: 22px;
      }
    }
    button.header__callaction:hover {
        background-image: linear-gradient(225deg, #0000a3 -40%, #00f3bb 100%);
        
        a{
            color: white;
        }
      }
  }
}

.episodios__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 115%;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  transform: skewY(-6deg);
  transform-origin: top right;
  z-index: -1;
  
}

main.episodios {
  position: relative;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
  
  h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 42px;
    color: #ffffff;
    margin-top: 64px;
    margin-bottom: 21px;
    padding-top: 50px;
 
    
  }

  .episodios--pods {
    display: grid;
    grid-gap:11px;
    
    
  }
  .episodios--pods iframe {

      border: 0;
      width: 100%;
      height: 235px;
     
  }
}

.nosotros {
 
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
 


  figure img{
    margin-top: 48px;
    width: 360px;
    height: 519px;
  }

  .nosotros--content{
    color: #060A24;
    letter-spacing: 0;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;

    h2{
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 36px;
      line-height: 42px;
      margin: 27px 16px 8px 16px;
    }
  
    p{
      font-family: "IBM Plex Mono", monospace;
      font-size: 14px;
      line-height: 22px;
      margin: 8px 16px 54px 16px;
  
    }

  }

}

.invitadas {
  .invitadas--title{
         width: 288px;
         height: 84px;
         margin-left: 16px;
         margin-right: 16px;
         margin-bottom: 14px;

         h2{
           font-family: "IBM Plex Sans", sans-serif;
           font-size: 36px;
           letter-spacing: 0;
           line-height: 42px;
           font-weight:400; 
          }
  }
  .invitadas--items{
    display: grid;
    grid-template-columns: 1fr;

    img{
      width: 100%;
    }
  }


}


.temas{
  width: 100%;
  margin-top: 48px;

 .temas--title{
      margin-bottom: 37px;
      width: 288px;
      height: 84px;
      margin-left: 16px;
      margin-right: 16px;

      h2{
         font-family: "IBM Plex Sans", sans-serif;
         font-size: 36px;
         letter-spacing: 0;
         line-height: 42px;
         font-weight:400; 
      }
 }

.temas--iconos{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        grid-row-gap:65px;

        img{
          margin-bottom: 13px;
        }
        p{
          font-size: 24px;
          letter-spacing: 0;
          text-align: center;
        }
}

}

.novedades{
      position: relative; 
      margin-top: 42px;
      text-align: center;
      height: 50vh;
      width: 100%;

       .novedades__bg1{
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        z-index: -2;
      } 

      .novedades__bg {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        background-image: linear-gradient(225deg, #0000ff 0%, #0000A3 100%);
        transform: skewY(-6deg);
        transform-origin:top left;
        z-index: -1;
        
      }
      h2{
        margin-top: 64px;
        color: #ffff;
        font-family: "IBM Plex Sans", sans-serif;
        font-size: 36px;
        line-height: 42px;
       
        margin-left: 16px;
        margin-right: 16px;
      }


      .novedades__callaction{
              width: 288px;
              height: 48px;
              margin-left: 16px;
              margin-right: 16px;
              margin-bottom: 67PX;
              margin-top: 36PX;
              background-color: #00f3bb;
              font-size: 16px;
              line-height: 22px;
              color: #060A24;
              border: none;
              letter-spacing: 0;
              cursor: pointer;
      }
      button.novedades__callaction:hover{
        background-image: linear-gradient(225deg, #0000a3 -40%, #00f3bb 100%);
        color: #ffffff;
      }

}

  footer{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-left: 45px;
    margin-right: 45px;
    h2{
      font-family: "IBM Plex Mono", monospace;
      font-size: 14px;
      line-height: 22px;
      font-weight: normal;
      width: 100%;
      margin-bottom: 16px;
      text-align: center;
    }

    .fotter-social{
      display: flex;
      justify-content: space-around;
     

      a i {
        color: #060A24;
        width: 16px;
        height: 28px;
      }
    }

}
   

/* animaciones */
.slideInLeft{
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: slideInLeft;
  z-index: -1;
}


.fadeInDown{

  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
}

.fadeInDownMenu{
   animation-duration: .1s;
   animation-fill-mode: both;
   animation-name: fadeInDownMenu;
}

/* keyframes */

@keyframes fadeInDown {
  from{
     opacity: 0;
     transform: translate3d(0,-100%,0);
  }
  to{
     opacity: 1;
     transform: translate3d(0,0,0) ;
  }
}

@keyframes fadeInDownMenu {
  from{
     opacity: 0;
     transform: translate3d(0,-100%,0);
  }
  to{
     opacity: 1;
     transform: translate3d(0,0,0) ;
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}


//* Medias Queries Desktop*/
@media screen and (min-width: 1024px) {

  label{
      display: none;
  }

  header {
    .nav {
      padding-top: 26px;
      padding-bottom: 26px;
      height: 80px;
      padding-right: 100px;
      padding-left: 100px;
      position: fixed;
      background-color: #ffffff;
      z-index: 2;
      top: 1;

      img {
        width: 36px;
        height: 36px;
      }

      i.fa-bars {
        display: none;
      }

      .menubar {
        display: inline;
        list-style: none;
        font-family: "IBM Plex Mono", monospace;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 28px;
        

        li {
          display: inline;

          a {
            text-decoration: none;
            padding: 0 10px 0 48px;
            color: #060a24;
          }
        }
      }

      .menubar li a:hover{
          color:#00f3bb;
          text-decoration:line-through;
          
      }
    }
    br {
      display: none;
    }
    .header__content {
      margin: 120px 200px;
      z-index: 1;
      .content--title {
        h1 {
          /* line-height: 84px; */
          font-size: 64px;
          font-weight: 400;
        }

      
      }

      p{
        width: 628px;
        font-size: 16px;
        line-height: 24px;
        
      } 
      p::after{
        content: "El portal de podcasts que explora el mundo de la programación y la tecnología. Nuevos episodios, todos los jueves cada 15 días. ";
      }




      button.header__callaction {
        width: 226px;
        height: 56px;
        margin-top: 56px;
        margin-bottom: 21px;
        background-color: #00f3bb;
        text-align: center;
        box-shadow: none;
        border: none;
        cursor: pointer;
       

        a {
          font-size: 18px;
          line-height: 24px;
          
        }

      }

    
     


    }
  }

  

    main.episodios{
     padding-top: 0.5rem;
      height: 100%;
      width: 100%;
      

      h2{
        font-weight: 400;
        font-size: 48px;
        margin: 186px 200px 26px;
        position: relative;
        
        

      }
    }

  .episodios--pods{
        margin-top: 26px;
        margin-left: 100px;
        margin-right: 100px;
        grid-template-columns: repeat(2,1fr);
        text-align: center;


        iframe{
          border: 0;
          width: 500px;
          height: 232px;
          margin-bottom: 72px;;
        }
  }

 .nosotros{
      
        position: relative;
        display: flex;  
        align-items: center;
        justify-content: center;
        margin-right: 200px;
        margin-left: 200px;

        .nosotros--phone img {
          width: 457.6px;
          height: 660px;
          margin-right: 50px;
          position: relative;
          margin-top: 64px;;
 }
      .nosotros--content{
        margin-top: 64px;;

            h2{
            font-size: 48px;
            letter-spacing: 0;
            font-weight: 400;
            margin-top: 24px;
            margin-bottom: 24px;
        
      }

      p{
        font-family: "IBM Plex Mono", monospace;
        font-size: 16px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 24px;
        font-weight: 400;
        text-align: justify;
        width: 464px;
        height: 204px;

      }

 }
 }

 .invitadas {
  .invitadas--title{
         width: 288px;
         height: 84px;
         margin-left: 100px;
         margin-right: 100px;
         margin-top: 64px;
         margin-bottom: 36px;

        
         h2{
           font-size: 48px;
           width: 481px;
           height: 62px; 
        br{
            display: none;
          }
          }
  }
  .invitadas--items{
    display: grid;
    grid-template-columns: repeat(3,1fr);

    img{
      width: 100%;
    }
  }
}

.temas{
    margin-top: 64px;
    padding-right: 200px;
    padding-left: 200px;

 .temas--title{
  
      width: 586px;
      height: 62px;
      h2{
          font-size: 48px;
          margin-bottom: 69px;
      }
 }

.temas--iconos{
      
      margin-bottom: 200px;
      display: flex;
       justify-content: center;
       text-align: center;


       .tema-desktop{
         font-size: 24px;
         width: 256px;
         margin-left: 78px;
         margin-right: 78px;

         p{
           
           width: 100%;
         }
       }
}

}

footer{
  margin-left: 100px;
  margin-right: 100px;
  flex-direction: row;
  text-align: start;
  align-items: center;




  h2{
    font-size: 16px;
    line-height: 28px;
    margin-top: 36px;
    margin-bottom: none;
    display: flex;
    align-self: flex-start;
    
  }

  .fotter-social{
      margin-top: 36px;
      width: 40%;
      justify-content: space-around;    



   

    a i {
      color: #060A24;
      width: 16px;
      height: 28px;
    }
  }




}

}
      

    
