* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "IBM Plex Mono", monospace;

  .nav {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;

    .menubar {
      display: none;
    }

    i {
      width: 18px;
      height: 12px;
    }
  }
  .header__content {
    /*  background-color: sandybrown; */
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;

    .content--title {
      margin-top: 29px;
      width: 100%;
      color: #060a24;
    }

    h1 {
      line-height: 42px;
      font-size: 36px;
      letter-spacing: 0;
      font-family: "IBM Plex Sans", sans-serif;
    }

    p {
      margin-top: 16px;
      font-family: "IBM Plex Mono", monospace;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 22px;
    }

    button.header__callaction {
      width: 100%;
      height: 48px;
      margin-top: 36px;
      margin-bottom: 24px;
      background-color: #00f3bb;
      text-align: center;
      box-shadow: none;
      border: none;
      cursor: pointer;

      a {
        color: #060a24;
        text-decoration: none;
        font-family: "IBM Plex Mono-Medium", monospace;
        letter-spacing: 0;
        font-size: 16px;
        line-height: 22px;
      }
    }
    button.header__callaction:hover {
        background-image: linear-gradient(225deg, #0000a3 -40%, #00f3bb 100%);
        
        a{
            color: white;
        }
      }
  }
}


.episodios__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 115%;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  transform: skewY(-6deg);
  transform-origin: top right;
  z-index: -1;
  
}


main.episodios {
  position: relative;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
  
  h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 42px;
    color: #ffffff;
    margin-top: 64px;
    margin-bottom: 21px;
    padding-top: 50px;
 
    
  }

  .episodios--pods {
    display: grid;
    grid-gap:11px;
    
    
  }
  .episodios--pods iframe {

      border: 0;
      width: 100%;
      height: 235px;
     
  }


  

}




.nosotros {
 
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
 


  figure img{
    margin-top: 48px;
    width: 360px;
    height: 519px;
  }

  .nosotros--content{
    color: #060A24;
    letter-spacing: 0;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;

    h2{
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 36px;
      line-height: 42px;
      margin: 27px 16px 8px 16px;
    }
  
    p{
      font-family: "IBM Plex Mono", monospace;
      font-size: 14px;
      line-height: 22px;
      margin: 8px 16px 54px 16px;
  
    }

  }


 


}

.invitadas {
  .invitadas--title{
         width: 288px;
         height: 84px;
         margin-left: 16px;
         margin-right: 16px;
         margin-bottom: 14px;

         h2{
           font-family: "IBM Plex Sans", sans-serif;
           font-size: 36px;
           letter-spacing: 0;
           line-height: 42px;
           font-weight:400; 
          }
  }
  .invitadas--items{
    display: grid;
    grid-template-columns: 1fr;

    img{
      width: 100%;
    }
  }


}






//* medias */
@media screen and (min-width: 1024px) {
  header {
    .nav {
      margin-top: 26px;
      padding-right: 100px;
      padding-left: 100px;

      img {
        width: 36px;
        height: 36px;
      }

      i.fa-bars {
        display: none;
      }

      .menubar {
        display: inline;
        list-style: none;
        font-family: "IBM Plex Mono", monospace;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 28px;

        li {
          display: inline;

          a {
            text-decoration: none;
            padding: 0 10px 0 48px;
            color: #060a24;
          }
        }
      }

      .menubar li a:hover{
          color:#00f3bb;
          text-decoration:line-through
          
      }


    }
    br {
      display: none;
    }
    .header__content {
      margin: 120px 200px;
      .content--title {
        h1 {
          /* line-height: 84px; */
          font-size: 64px;
          font-weight: 400;
        }
      }

      button.header__callaction {
        width: 226px;
        height: 56px;
        margin-top: 56px;
        margin-bottom: 21px;
        background-color: #00f3bb;
        text-align: center;
        box-shadow: none;
        border: none;
        cursor: pointer;

        a {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }

  

    main.episodios{
     padding-top: 0.5rem;
      height: 100%;
      width: 100%;
      

      h2{
        font-weight: 400;
        font-size: 48px;
        margin: 186px 200px 26px;
        position: relative;
        
        

      }
    }

  .episodios--pods{
        margin-top: 26px;
        margin-left: 100px;
        margin-right: 100px;
        grid-template-columns: repeat(2,1fr);
        text-align: center;


        iframe{
          border: 0;
          width: 500px;
          height: 232px;
          margin-bottom: 72px;;
        }
  }

 .nosotros{
      
        position: relative;
        display: flex;  
        align-items: center;
        justify-content: center;
        margin-right: 200px;
        margin-left: 200px;

        .nosotros--phone img {
          width: 457.6px;
          height: 660px;
          margin-right: 50px;
          position: relative;
          margin-top: 64px;;
 }
      .nosotros--content{
        margin-top: 64px;;

            h2{
            font-size: 48px;
            letter-spacing: 0;
            font-weight: 400;
            margin-top: 24px;
            margin-bottom: 24px;
        
      }

      p{
        font-family: "IBM Plex Mono", monospace;
        font-size: 16px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 24px;
        font-weight: 400;
        text-align: justify;
        width: 464px;
        height: 204px;

      }

 }
 }

 .invitadas {
  .invitadas--title{
         width: 288px;
         height: 84px;
         margin-left: 100px;
         margin-right: 100px;
         margin-top: 64px;
         margin-bottom: 36px;

        
         h2{
           font-size: 48px;
           width: 481px;
           height: 62px; 
        br{
            display: none;
          }
          }
  }
  .invitadas--items{
    display: grid;
    grid-template-columns: repeat(3,1fr);

    img{
      width: 100%;
    }
  }
}


 





}